* {
    font-family: 'Titillium Web', sans-serif;
  }
  body{
      margin: 0;
      padding: 0;
  }
  section {
    border: 1px red dotted;
    min-height: 100vh;
    background-color: moccasin;
  }
  i{
 color: midnightblue;
  }
  /* Text Styles // start */
  h1 {
    color:darksalmon;
  }
  h2 {
    color: yellow;
  }
  h3 {
    color:blueviolet;
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }
  ul{
list-style-type: none;
margin: 0;
padding: 0;
  }
  li{
      display: inline;
  }
  /* Text Styles // end */
 /* classes // start */ 
 .bgColorSection1{
    background-color: skyblue;
}
.bgColorSection2{
   background-color: lightgray;
}
.bgColorSection3{
   background-color: lightsteelblue;
}
.bgColorSection4{
   background-color: lightslategray;
   background-image: url(../img/josh-hild-QsDEa0qvk20-unsplash.jpg);
   background-image: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.bgColorSection5{
   background-color: cornsilk;
  
}
.fab fa-searchengin{color:black;}